<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="LogFile" value=".\log.txt"/>
    <add key="OrderConsumerUpdateRateMsec" value="1000"/>

    <add key="ScadaWcfPipeBase" value="net.pipe://localhost/TMC"/>
    <add key="ScadaWcfPipeEndpoint" value="Scada"/>
  </appSettings>
  <connectionStrings>
    <add name="ICTDEntities" connectionString="metadata=res://*/TmcDB.csdl|res://*/TmcDB.ssdl|res://*/TmcDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ICTD.db.11386558.hostedresource.com;initial catalog=ICTD;persist security info=True;user id=ICTD;password=Tmc@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
