<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.5.1" />

    <customErrors mode="Off">
     </customErrors>
  </system.web>
  
  <system.webServer>
 
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <connectionStrings>
    <add name="SCADAConnectionStringLocal" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=SCADAAuth; Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="SCADAConnectionString" connectionString="Data Source=ICTD.db.11386558.hostedresource.com; Initial Catalog=ICTD; Persist Security Info=true;User ID=ICTD;Password=Tmc@1234;" providerName="System.Data.SqlClient" />
    <add name="ICTDEntities" connectionString="metadata=res://*/EF.ICTDEntities.csdl|res://*/EF.ICTDEntities.ssdl|res://*/EF.ICTDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ICTD.db.11386558.hostedresource.com;initial catalog=ICTD;persist security info=True;User ID=ICTD;Password=Tmc@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <add key="ScadaWcfPipe" value="net.pipe://localhost/TMC/Scada" />
  </appSettings>
  
</configuration>
