<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>localhost</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sergei-pc</MSDeployServiceURL>
    <DeployIisAppPath>APIServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ICTDEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ICTD.db.11386558.hostedresource.com;Initial Catalog=ICTD;Persist Security Info=True;User ID=ICTD;Password=Tmc@1234;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="APIServerWeb.EF.ICTDEntities, APIServerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SCADAConnectionStringLocal" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=SCADAAuth;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SCADAConnectionStringLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS; Initial Catalog=SCADAAuth; Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SCADAConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=ICTD.db.11386558.hostedresource.com;Initial Catalog=ICTD;Persist Security Info=True;User ID=ICTD;Password=Tmc@1234" Name="Data Source=ICTD.db.11386558.hostedresource.com; Initial Catalog=ICTD; Persist Security Info=true;User ID=ICTD;Password=Tmc@1234;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ICTD.db.11386558.hostedresource.com;Initial Catalog=ICTD;Persist Security Info=True;User ID=ICTD;Password=Tmc@1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SCADAConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ICTD.db.11386558.hostedresource.com; Initial Catalog=ICTD; Persist Security Info=true;User ID=ICTD;Password=Tmc@1234;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="APIServerWeb.Authentication.SCADADbContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="APIServerWeb.Authentication.SCADADbContext, APIServerWeb" MigrationConfiguration="APIServerWeb.Migrations.Configuration, APIServerWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SCADAConnectionStringDis" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.100;Initial Catalog=ICTD;Persist Security Info=True;User ID=user;Password=tmc1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SCADAConnectionStringDis_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.100; Initial Catalog=ICTD; Persist Security Info=true;User ID=user;Password=tmc1234;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICTDEntitiesDis" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.100;Initial Catalog=ICTD;Persist Security Info=True;User ID=user;Password=tmc1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICTDEntitiesDis_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EF.ICTDEntities.csdl|res://*/EF.ICTDEntities.ssdl|res://*/EF.ICTDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=ICTD;persist security info=True;user id=user;password=tmc1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)APIServerWeb.Authentication.SCADADbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICTDEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EF.ICTDEntities.csdl|res://*/EF.ICTDEntities.ssdl|res://*/EF.ICTDEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ICTD.db.11386558.hostedresource.com;Initial Catalog=ICTD;Persist Security Info=True;User ID=ICTD;Password=Tmc@1234;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICTDEntitiesDis-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCADAConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ICTD.db.11386558.hostedresource.com; Initial Catalog=ICTD; Persist Security Info=true;User ID=ICTD;Password=Tmc@1234;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCADAConnectionStringDis-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCADAConnectionStringLocal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="APIServerWeb.Authentication.SCADADbContext" />
  </ItemGroup>
</Project>